/* Body Mobile */
body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  max-width: 400px;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}


/* Navbar */
.logo {
  width: 60px;   /* ubah sesuai kebutuhan */
  height: auto;   /* biar ga gepeng */
  margin-right: 5px;
}


.navbar {
  background-color: white;
  padding: 0px;
  display: flex;
  align-items: center;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
}


.navbar .logo {
  width: 60px;
  height: auto;
}


.menu {
  font-size: 14px;
  color: #546B41;
  align-items: center;
  padding-left: 0px;
  display: flex;
  gap: 10px;
}


.menu a {
  font-size: 14px;
  color: #546B41;
  padding-left: 0px;
  gap: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.active-menu {
  border-bottom: 1.5px solid #546B41;
  font-weight: 700; /* bikin lebih tebal */
  padding-bottom: 2px;
  margin-top: 10px;
}


.right {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
  font-size: 14px;
  margin-top: px;
}


.right i{
  font-size: 17px;
}


.navbar .right {
  justify-content: right;
  font-size: 14px;
  color: #546B41;
  padding-left: 30px;
  margin-right: 10px;
  margin-top: -1px;
  margin-right: 10px;
}


.cart-link {
  color: #546B41;
  font-size: 17px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}


.cart-link:hover {
  opacity: 0.7;
}


/* Banner */
.banner {
  margin: 10px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  height: 235px;
}


.banner img {
  width: 100%;
  border-radius: 0px;
}


.banner-text {
  position: absolute;
    top: 30px;
    left: 10px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3f5b27;
    font-weight: 600;
    font-size: 24px;
    text-shadow: 1px 2px 1px #ffffff;
}


.banner button {
  margin-top: 40px;
  padding: 5px 5px;
  background-color:#546B41;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  width: 165px;
}


/* Tentang Produk */
.section {
  padding: 10px;
  margin-top: 20px;
  color: #545454;
  background-color:#FFF8EC;
}


.section h3 {
    color: #545454;
    font-weight: 600;
    font-size: 20x;
    margin-top: 5px;
    padding-left: 10px;
}


.features {
  display: flex;
  flex-direction: column;
  gap: 20px;


}


.feature {
    display: flex;
    align-items: normal;
    margin-bottom: 10px;
    margin-left: -11px;
    margin-right: 25px;
    text-align: justify;
}


.feature i {
    margin-top: 15px;
    margin-left: -12px;
    font-size: 25px;
    color: #545454;
    flex-shrink: 0;
    padding-left: 30px;
    width: 40px;
    text-align: center;
}


.feature .text {
  font-size: 12px;
  margin-top: 0px;
}


.feature b {
  display: block;
  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: 10px;
  font-weight: 450;
  font-size: 16px;
  color: #545454;
}


.feature p {
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: #545454;
}


/* Produk */
.title {
  color:#546B41;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}


.products {
  padding: 15px;
  margin-top: -20px;
  color:#546B41;
  background-color: #99AD7A;
}


.product-list {
  display: flex;
  gap: 10px;
}


.product-card {
  margin: 4px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}


.product-card p{
    font-size: 14px;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
}


.product-card .price{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}


.product-card img {
  width: 100%;
  height: fit-content;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center; /* TAMBAHKAN INI */
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}


.product-card button {
  margin-top: auto; /* dorong tombol ke bawah */
  padding: 6px;
  background-color:#99AD7A;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}


/* Testimoni */
.title2 {
      color: #546B41;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}


.testimoni {
  padding: 15px;
  margin-bottom: 20px;
}


.testi-box {
    display: flex;
    gap: 30px;
    margin-top: -35px;
}


.testi {
  flex: 1;
  background-color:#546B41;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 50%;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  color: #ffffff;
}


.testi i {
  color:#ffffff;
  margin-top: 2px;
  font-size: medium;
}


/* FOOTER */
.footer {
  background-color: white;
  padding: 15px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
}


/* BAGIAN ATAS (2 KOLOM) */
.footer-top {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  gap: 100px;
}


/* KOLOM */
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* LINK */
.footer a {
  text-decoration: none;
  color:#545454;
  font-size: 12px;
  font-weight: 400;
}


/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: #737373;
  margin-top: 30px;
}






/*STYLE LOGIN */
/* Navbar */
.logo {
  width: 60px;   /* ubah sesuai kebutuhan */
  height: auto;   /* biar ga gepeng */
  margin-right: 5px;
}

.navbar {
  background-color: white;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
}

.navbar .logo {
  width: 60px;
  height: auto;
}

.menu {
  font-size: 14px;
  color: #546B41;
  padding-left: 0px;
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.menu a {
  font-size: 14px;
  color: #546B41;
  padding-left: 0px;
  display: flex;
  gap: 10px;
  text-decoration: none;
  margin-top:-5px;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
  font-size: 14px;
  margin-top: -7px;
}

.right i{
  font-size: 17px;
  margin-top: 10px;
}

.navbar .right {
  justify-content: right;
  font-size: 14px;
  color: #546B41;
  padding-left: 30px;
}

/* MAIN */
.main-content {
  display: flex;
  top: 10px;
  justify-content: center;
  align-items: flex-start; /* penting: jangan center */
  min-height: 80vh;
  padding: 0%;
}

/* CARD */
.auth-container {
    width: 400px;
    text-align: center;
}

/* TITLE */
.auth-title {
    color:#546B41;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
}

.auth-subtitle {
    color:#546B41;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
}

/* TAB */
.auth-tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: #545454;
}

.tab-btn {
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    background: #ddd;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color:#2a3421;
}




.tab-btn.active {
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    background:#546B41;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
}




/* FORM */
.auth-form {
    text-align: left;
}




.form-title {
    margin-bottom: 10px;
    margin-left: 10px;
    color: #546B41;
    font-size: 18px;
    font-weight: 700;
}




.auth-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #545454;
    font-size: 14px;
    font-weight: 500;
}




/* INPUT */
.auth-form input {
    width: 325px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 10px;
    border: none;
    background: #99AD7A;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    gap: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}




.auth-form input::placeholder {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}


/* PASSWORD */
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper i {
    position: absolute;
    margin-right: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-70%);
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}




/* BUTTON */
.login-btn {
    width: 345px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    border: none;
    background: #546B41;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
}


/* Saat ditekan */
.login-btn:active {
  background-color: #2b3622; /* warna lebih gelap */
}




/* LINKS AREA */


.links {
    text-align: center;
    margin-top: 15px;
}


/* LUPA PASSWORD */
.links .lupa {
  font-size: 13px;
  font-weight: 300;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}


.lupa:active {
  color: #2563EB;
}


/* DIVIDER */
.divider {
    display: flex;
    align-items: center;
    margin: 15px 0;
}


.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
}


.divider span {
    margin: 10px;
    font-size: 13px;
    font-weight: 500 !important; /* paksa tipis */
    color: #777;
}


/* GOOGLE BUTTON */
.google-btn {
    width: 345px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    color: #545454;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.google-btn:hover {
    background: #f5f5f5;
}


/* GOOGLE ICON */
.google-icon {
    width: 30px;
}


/* REGISTER */
.daftar {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  display: flex;
}


.daftar span {
  margin-left: 5px;
  font-weight:900;
  color: #546B41;
  cursor: pointer;
  text-decoration: underline;
}








/*Style Daftar */
/* Reset dan variabel warna - SESUAI DENGAN FOTO */
/*STYLE LOGIN */
/* Navbar */
.logo {
  width: 60px;   /* ubah sesuai kebutuhan */
  height: auto;   /* biar ga gepeng */
  margin-right: 5px;
}


.navbar {
  background-color: white;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
}


.navbar .logo {
    width: 60px;
    height: auto;
    margin-left: 10px;
}


.menu {
   font-size: 14px;
    color: #546B41;
    padding-left: 5px;
    display: flex;
    gap: 20px;
}


.right {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
  font-size: 14px;
}


.login-link {
  text-decoration: none;
  color: #546B41;
}


.right i{
  font-size: 17px;
  display: flex;
  gap: 10px;
  align-items:end;
  justify-content: right;
}


.navbar .right {
    justify-content: center;
    font-size: 14px;
    color: #546B41;
    padding-left: 60px;
    gap: 10px;
}

/* MAIN */
.main-content {
  display: flex;
  top: 10px;
  justify-content: center;
  align-items: flex-start; /* penting: jangan center */
  min-height: 80vh;
  padding: 0%;
}

/* CARD */
.auth-container {
    width: 400px;
    text-align: center;
}

/* TITLE */
.auth-title {
    color:#546B41;
    margin-bottom: -20px;
    margin-top: -30px;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
}


.auth-subtitle {
    color:#546B41;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
}


/* TAB */
.auth-tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: #545454;
}


.tab-btn {
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    background: #ddd;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:#2a3421;
}


.tab-btn.active {
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    background:#546B41;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
}


/* FORM */
.auth-form {
    text-align: left;
}


.form-title {
    margin-bottom: 10px;
    margin-left: 10px;
    color: #546B41;
    font-size: 18px;
    font-weight: 700;
}


.auth-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #545454;
    font-size: 14px;
    font-weight: 500;
}


/* INPUT */
.auth-form input {
    width: 325px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 10px;
    border: none;
    background: #99AD7A;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    gap: 20px;
}


.auth-form input::placeholder {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}


/* PASSWORD */
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.password-wrapper i {
    position: absolute;
    margin-right: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-70%);
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


/* BUTTON */
.daftar-btn {
    width: 345px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    border: none;
    background: #546B41;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
}


/* Saat ditekan */
.daftar-btn:active {
  background-color: #2b3622; /* warna lebih gelap */
}


/* LINKS */
.auth-note {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  display: flex;
}


.auth-link {
  margin-left: 5px;
  font-weight:900;
  color: #546B41;
}


.links span {
  margin-left: 5px;
  font-weight:900;
  color: #546B41;
}










/* STYLE HALAMAN KERANJANG */

/* HEADER */
.cart-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}


/* BACK BUTTON */
.back-btn {
  position: static;
  top: 60px;
  left: 0px;
  display: inline-block;
  margin: 0 0 0 15px;
  margin-left: 5px;
  color: #546B41;
  font-size: 20px;
  text-decoration: none;
}


/* JUDUL */
.cart-heading {
  font-size: 16px;
  font-weight: 600;
  color: #545454;
  margin: 0;
}


/* CONTENT TENGAH */
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}


/* ICON */
.cart-icon-box img {
  width: 200px;
  margin-bottom: 5px;
}


/* JUDUL BESAR */
.cart-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  color: #546B41;
}


/* SUBTITLE */
.cart-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  margin-top: 5px;
}


/* BUTTON */
.product-btn {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0px;
  background: #546B41;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
   font-family: 'Poppins', sans-serif;
}



/* STYLE HALAMAN DETAIL PRODUK 1 */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 180px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    z-index: 100;
}

.dropdown-content a {
    display: block;
    padding: 12px 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-content a:hover {
    background: #f3f3f3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    padding: 0;
    margin-bottom: 25px;
}

.card_detailproduk1 {
    background: #ffffff;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 0px;
    border: 1px solid #99AD7A;
    overflow: hidden;
    color: #000000;
    margin-left: 10px;
}

.product-name {
  font-size: 18px;
  color: #2b3622;
  font-weight: 600;
  margin-left: 10px ;
}

.product-price {
  font-size: 18px;
  color: #2b3622;
  font-weight: 400;
  margin: -10px 0 0 10px;
}

.section-title {
  font-size: 18px;
  color: #545454;
  font-weight: 600;
  margin-left: 10px ;
}

.desc-subtitle {
  font-size: 16px;
  color: #545454;
  font-weight: 600;
  margin: -10px 0 0 10px;
}

.desc-text {
  font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 5px;
    text-align: justify;
    margin-right: 25px;
}

.feature-list {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 5px;
}

.spec-list {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 5px;
}

.add-to-cart-fixed {
  position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 390px;
    background: #546B41;
    padding: 5px;
    z-index: 999;
    border-radius: 5px;
}

.add-to-cart-fixed button {
  width: 100%;
    padding: 0px;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

main {
  padding-bottom: 80px;
}

.cara_penggunaan {
  margin: -15px 10px 30px 10px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  height: 235px;
}

.cara_penggunaan img {
  width: 100%;
  border-radius: 0px;
  margin-top: 5px;
}

.tentang_perusahaan {
  margin: -10px 0px 10px 0px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    height: 235px;
    margin-right: 30px;
}

.tentang_perusahaan img {
  width: 325px;
    border-radius: 0px;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.cart-heading_tentang {
  font-size: 18px;
  color: #545454;
  font-weight: 600;
  margin-left: 50px ;
}

.section-title_tentang1 {
  font-size: 18px;
  color: #545454;
  font-weight: 600;
  margin-left: 30px ;
  margin-top: -50px;
}

.card {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 15px;
}

.section-title_tentang2 {
  font-size: 18px;
  color: #545454;
  font-weight: 600;
  margin-left: 30px ;
  margin-top: 20px;
}

.section-title_tentang3 {
  font-size: 18px;
  color: #545454;
  font-weight: 600;
  margin-left: 30px ;
  margin-top: 20px;
}

.section-title_kebijakan1 {
  font-size: 14px;
  font-weight: 500;
  margin-left: 40px;
  margin-top: -5px;
}

.card1 {
  font-size: 14px;
  font-weight: 300;
  margin-left: 30px;
  margin-top: -15px;
}

.card2 {
  font-size: 14px;
  font-weight: 300;
  margin-left: 30px;
  margin-top: -10px;
}

.card4 {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}






/* STYLE HALAMAN ARTIKEL DEPAN*/
/* CARD */
.card {
  background: #fff;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 30px;
  border-radius: 18px;
  border: 2px solid #99AD7A;
  box-shadow: 5px 5px #99ad7a91;
  overflow: hidden;
}

/* ISI CARD */
.cart-heading_artikel {
  font-size: 16px;
  font-weight: 600;
  color: #545454;
  margin-left: 120px;
}

.card h3 {
    color: #4d7c3b;
    font-size: 14px;
    padding: 15px 15px 5px;
    margin-left: 10px;
    text-align: justify;
    margin-right: 25px;
}

.card p {
    font-size: 12px;
    color: #000000;
    line-height: 1.5;
    padding: 0 0 10px 25px;
    font-size: 12px;
    text-align: justify;
    margin-right: 40px;
    margin-top: -10px;
}

/* READ MORE */
.read-more {
    border-top: 1px solid #e5e5e5;
    padding: 12px;
    text-align: center;
    color: #4d7c3b;
    font-weight: 600;
    font-size: 13px;
    background: #fff;

    display: block;              /* penting biar seperti div */
    text-decoration: none;       /* hilangkan underline link */
    cursor: pointer;

    transition: all 0.3s ease;
}


.card_tentangkami {
  background: #99AD7A;
  font-size: 12px;
  margin-top: -15px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 0px;
  border: 1px solid #99AD7A;
  overflow: hidden;
  margin-left: 30px;
  padding: 10px;
  text-align: justify;
}

.card_tentangkami li {
  font-size: 12px;
  margin-left: -15px;
}

.card_tentangkami p {
  margin-left: 15px;
}

.card_tentangkami p i {
  margin-right: 10px;
}

.cart-heading_kebijakan {
    font-size: 18px;
    color: #545454;
    font-weight: 600;
    margin-left: 70px;
}

.card_kebijakan {
  margin-top: -10px;
  margin-right: 30px;
  margin-bottom: 5px;
  overflow: hidden;
  margin-left: 40px;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 300;
  text-align: justify;
}

.card_kebijakan ul li {
  margin-bottom: 0px;
  margin-left: -10px;
}

.content_syarat {
  font-size: 12px;
  margin-left: 40px;
  margin-right: 30px;
  text-align: justify;
  margin-top: -20px;
}





/* STYLE HALAMAN KONTAK KAMI*/
/* BUTTON WA */
.btn-wa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #4e8f1c;
    color: white;
    padding: 14px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.btn-wa i {
  font-size: 30px;
}

/* CONTENT */
.content_kontak {
  padding: 0 15px;
}

.content_kontak h3 {
  margin-bottom: 8px;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 16px;
  color: #546B41;
}

.content_kontak p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 5px;
}

/* LINE */
.line {
  height: 1px;
  background: #ddd;
  margin: 20px 15px;
}


/* JAM */
.jam {
    background: #FFF8EC;
    padding: 15px;
    margin-bottom: 200px;
    margin-top: 30px;
}

.jam h3 {
    margin-bottom: 8px;
    margin-top: 5px;
    margin-left: 30px;
    color: #546B41;
    font-size: 14px;
    font-weight: 700;
}

.jam p {
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-top: 5px;
    color: #546B41;
    font-weight: 500;
}




/* STYLE HALAMAN ARTIKEL 1 */
.cart-heading_artikel1 {
    font-size: 16px;
    font-weight: 600;
    color: #546B41;
    margin-left: 3px;
    margin-right: 10px;
    text-align: center;
}

.content_artikel1 {
    font-size: 12px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    color: #546B41;
}

.content_artikel1 h3 {
    font-size: 12px;
    text-align: left;
    margin-left: 0px;
    font-weight: 600;
}




/* STYLE HALAMAN ARTIKEL 2 */
.content_artikel2 {
    font-size: 12px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    color: #546B41;
    margin-top: -50px;
}

.content_artikel2 h3 {
  font-weight: 600;
}

.content_artikel2 li {
  margin-left: -10px;
}



/* STYLE HALAMAN ARTIKEL 3 */
.content_artikel3 {
    font-size: 12px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    color: #546B41;
    margin-top: -50px;
}

.gambar_artikel3 {
    border-radius: 0;
    overflow: hidden;
    position: relative;
    height: 235px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.gambar_artikel3 img {
  width: 100%;
  border-radius: 0px;
}




/* STYLE HALAMAN ALAMAT PENGIRIMAN */




/* ================= FORM ================= */


.form-group{
    margin-bottom: 0px;
}


.form-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #545454;
    margin-top: 10px;
}


.form-group input,
.form-group textarea{
    width: 325px;
    border: none;
    outline: none;
    background: #99AD7A;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}


.form-group textarea{
    height: 100px;
    resize: none;
}


.form-group input::placeholder,
.form-group textarea::placeholder{
    color: #ffffff;
}


/* ================= ROW ================= */


.row{
    gap: 15px;
}

.small{
    width: 50%;
}


/* ================= BUTTON ================= */


button{
    width: 100%;
    border: none;
    background: #6ba30f;
    color: white;
    padding: 15px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.simpanalamat-btn {
  width: 345px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    border: none;
    background: #546B41;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
}





/* user photo */
.user-photo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


/* Halaman Profile CSS */

/* Profile */
.profile-container {
    display: flex;
    justify-content: center;
    padding: 30px 15px;
}

.profile-card {
    background: white;
    width: 400px;
    max-width: 400px;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #556B2F;
}

.upload-btn {
    margin-top: 15px;
    background: #556B2F;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}

#uploadPhoto {
    display: none;
}

.profile-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.profile-form h2 {
    margin-bottom: 20px;
    color: #556B2F;
    text-align: center;
    margin-top: -10px;
}

.profile-form label {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
}

.profile-form input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    font-family: inherit;
    font-size: 14px;
}

.save-btn {
    background: #556B2F;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins';
}

.right_profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-profile {
   width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #556B2F;
    margin-left: 20px;
    margin-top: 3px;
}

.back-btn_profile {
  position: static;
    top: 60px;
    left: 0px;
    display: inline-block;
    margin: 15px 10px 20px 15px;
    margin-left: 5px;
    color: #546B41;
    font-size: 20px;
    text-decoration: none;
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 38px;
    background: white;
    min-width: 140px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    z-index: 100;
}

.profile-menu a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.profile-menu a:hover {
    background: #f3f3f3;
}

.profile-dropdown:hover .profile-menu {
    display: block;
}






/* keranjang terisi produk */
.cart-card {
    display: flex;
    gap: 15px;
    padding: 15px;
    /* margin: 10px; */
    background: white;
    /* border-radius: 20px; */
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08); */
    align-items: flex-start;
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 30px;
}

.cart-card img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.cart-info {
    flex: 1;
}

.cart-info h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #556B2F;
}

.cart-info p {
    margin-top: 5px;
    color: #556B2F;
    font-size: 16px;
    font-weight: 600;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.qty-box button {
    border: none;
    background: transparent;
    color: #556B2F;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    margin-left: -20px;
}

.qty-box span {
    width: 100px;
    height: 30px;
    background: #556B2F;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    margin-left: -20px;
    margin-top: 10px;
}

.hapus-btn {
    margin-top: 15px;
    border: none;
    background: red;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-total-box {
    margin: 20px;
    padding: 15px 20px;
    background: #556B2F;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 60px;
}

.total-text {
    font-size: 15px;
    font-weight: 500;
}

.checkout-btn {
    border: none;
    background: white;
    color: #556B2F;
    padding: 4px 0px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 0px;
}

.cart-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-top h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #556B2F;
}

.cart-top i {
    color: #546B41;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: -15px;
}




/* halaman checkout */

/* CONTAINER */
.checkout-container {
    padding: 20px;
}

/* CARD */
.checkout-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* TITLE */
.checkout-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #556B2F;
    font-size: 18px;
}

/* INPUT */
.checkout-card label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.checkout-card input,
.checkout-card textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    font-family: inherit;
    box-sizing: border-box;
}

.checkout-card textarea {
    height: 90px;
    resize: none;
}

/* PAYMENT */
.payment-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.payment-option i {
    color: #556B2F;
    font-size: 18px;
}

/* ORDER DETAIL */
.order-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.order-item:last-child {
    border-bottom: none;
}

.order-name {
    font-weight: 500;
}

.order-price {
    color: #556B2F;
    font-weight: 600;
}

/* SUMMARY */
.summary-item,
.summary-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.summary-total {
    font-weight: 600;
    color: #556B2F;
    font-size: 18px;
}

/* BUTTON */
.order-btn {
    width: 100%;
    border: none;
    background: #556B2F;
    color: white;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.payment-option.active {
    border: 2px solid #556B2F;
    background: #f3f7ed;
}